# Environment configuration example

DEBUG=''
DJANGO_SECRET_KEY=''

# Super User
DJANGO_SUPERUSER_EMAIL=''
DJANGO_SUPERUSER_PASSWORD=''

# Database
POSTGRES_DB=''
POSTGRES_USER=''
POSTGRES_PASSWORD=''
# Use localhost for local PostgreSQL; Docker Compose overrides this to "db".
POSTGRES_HOST=''
POSTGRES_PORT=''
